body {
    font-family: Arial, sans-serif;
    background-color: rgb(220, 217, 217);
    margin: 0;
    overflow-x: hidden;


}

body p {
    font-size: 1.3rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: 1.7rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

h2 {
    padding-top: 4vw;
}

.intro-content {
    padding-top: 7vh;
}


header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10vw;
    background-color: #c3e0f1;
    border-bottom: 1px solid black;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #c3e0f1;

}

footer img {
    width: 25vw;
    height: auto;
}

footer p {
    font-size: 1.1rem;
}

footer a:hover {
    text-decoration: underline;
}

.row-container {
    display: flex;
    gap: 15px;
}

.row-container a {
    text-decoration: none;
    color: black;

}

header nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    height: 100%;
    padding: 0 1.5rem;

}

header h1 {
    margin-bottom: 1rem;
}

nav a:hover {
    background-color: #5CB5E8;
    transition: 0.25s ease-in-out;
}

nav img {
    width: 17vw;
    height: auto;

}

nav img:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

nav div {
    display: flex;
    flex-direction: space-between;
    gap: 0;
}

header nav>div:last-child {
    align-self: stretch;
}

.intro-content {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: min(85%, 1200px);
    margin: 0 auto;
}

.intro-content img {
    flex: 0 0 35%;
    width: 10vw;
    height: 40vh;
    border: 2px solid black;
}

.intro-content p {
    flex: 1;
}

.intro-text,
.about-text {
    flex: 1;
}

main section {
    gap: 2vh;
    display: flex;
    padding: 2vh 0;
}

main {
    width: min(85%, 1200px);
    margin: 0 auto;
}

.first-content {

    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4vh;
}

.first-content::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100vw;
    border-bottom: solid black 1px;
    transform: translateX(-50%);
}

.about-section {
    padding-top: 8vh;
    display: block;
    padding-bottom: 10vh;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.about-content p {
    margin-top: 0;
}

.about-content img {
    flex: 0 0 35%;
}

button {
    background-color: #c3e0f1;
    border-radius: 5px;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 5vh;
    width: 15vw;
    height: 7vh;
}

button a {

    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;

}

button:hover {
    background-color: #5CB5E8;
    transition: 0.25s ease-in-out;
}

.about-section div img {
    border-radius: 100%;
    border: solid 2px black;
    max-width: 17.5vw;
    height: auto;
}