body {
    font-family: Arial, sans-serif;
    background-color: rgb(220, 217, 217);
    margin: 0;


}

body p {
    font-size: 1.3rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: 1.7rem;
}


header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10vw;
    background-color: #c3e0f1;
    border-bottom: 1px solid black;
}

header nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    height: 100%;
    padding: 0 1.5rem;

}

header h1 {
    margin-top: 7vh;
    width: min(85%, 1200px);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

nav a:hover {
    background-color: #5CB5E8;
    transition: 0.25s ease-in-out;
}

nav img {
    width: 17vw;
    height: auto;
}

nav img:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

nav div {
    display: flex;
    flex-direction: space-between;
    gap: 0;
}

header nav>div:last-child {
    align-self: stretch;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

article {
    width: 40vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #C9CDD6;
    border-radius: 10px;
    padding: 10px;
}


article img {
    height: 70%;
    width: 80%;
    border-radius: 10px;
}

article p {
    
}

article div {
    height: 20%;
    display: flex;
    flex-direction: row;
    
}

article audio {
    width: 80%;
}

button {
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 0.8rem;
    cursor: pointer;
    height: 90%;
    width: 40%;
}

.green-button {
    display: flex;
    justify-content: center;
}

.red-button {
    display: flex;
    justify-content: center;
}

input[type="radio"] {
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

.green-check:checked {
  border: 6px solid green;
}

.red-check:checked {
  border: 6px solid red;
}

input[type="submit"] {
    width: 80%;
    
}